body.loaded {
  opacity: 1;
  transition: 1s opacity;
}

.banner {
  position: relative;
  width: 100%;
  height: 40rem;
  padding: 0 5%;
  overflow: hidden;
  backface-visibility: hidden;
  margin-bottom: 50px;
}

.banner .background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transform: translate3d(0,0,0) scale(1.25);
  background: black url(https://images.unsplash.com/photo-1457282367193-e3b79e38f207?dpr=1&auto=compress,format&fit=crop&w=1954&h=&q=80&cs=tinysrgb&crop=) no-repeat center center;
  background-size: cover;
}

.loaded .banner .background {
  transform: scale(1);
  transition: 6.5s transform;
}

.banner h1 {
  color: #EEE;
  margin: 0;
  line-height: 40rem;
  text-shadow: 0 0 .2rem black;
}
