body {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* Navigation Bar */

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  background-color: #22262B;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
  border: none;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #ffffff;
    background-color: #3b8a58;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ffffff;
  background-color: #53a270;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

/* Tabs */

.nav-pills {
  margin-bottom: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #3b8a58;
}

/* Spacing */

.container-index {
  padding-right: 50px;
  padding-left: 50px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-bottom: 20px;
}

.img-margin-bottom {
  margin-bottom: 20px;
}

.img-margin-top {
  margin-top: 20px;
}

.img-padding {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Shadows */

.light-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

.medium-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.heavy-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
}

/* Markup */

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
